/* body{
    margin: auto;
}



ul li:hover{
    color: aqua;

}

ul li a:focus{
    border-bottom: solid 2px red;
}

.content div{
    border: solid 1px red;
    height: 190px;
    width: 250px;
} */